.col {
background-color: rgb(255, 136, 136);
border-right: solid 1px;
}
.col-9 {
background-color: rgb(255, 136, 136);
border-right: solid 1px;
}
.col-4 {
background-color: rgb(255, 136, 136);
border-right: solid 1px;
}
.col-6 {
background-color: rgb(255, 136, 136);
border-right: solid 1px;
}
